[submodule "themes/toho"]
	path = themes/toho
	url = https://github.com/hugo-toha/toha.git
[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hugo-toha/toha.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme.git
